#searchBar>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3%;

}

#searchBar>div>input {
    width: 80%;
    height: 3vh;
    border: 2px solid #1DB954;
    background-color: #181818;
    color: white;
}

#searchBar>div>input:focus {
    width: 80%;
    height: 3vh;
    border: 2px solid #136e33;
    background-color: #FFFFFF;
    color: #181818;
}

#searchBar>div>p {
    width: 15%;
    text-align: center;
    border: #1DB954 solid 2px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #1DB954;
    transition: background-color;
    transition-duration: 0.5s;
    transition-delay: 0.05s;
}

#searchBar>div>p:hover {
    background-color: #136e33;
}

@media screen and (max-width: 1025px) {

    h3 {
        text-align: center;
    }

    #searchBar>div>input,
    #searchBar>div>input:focus {
        width: 65%;
    }

    #searchBar>div>p {
        width: 25%;

    }
}